Titanic project 
In this project, I have created a ML model that predicts whether or not a person suvives the infamous titanic shipwreck based on features such as (Age, Sex, pclass(ticket class), Point of embarking).The model is an ensemble model that consists of a Logistic Regressor, XGBboost Classifier and a Random Forest Classifier

In [96]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,accuracy_score,f1_score
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import VotingClassifier

Preprocessing

In [34]:
data= pd.read_csv('train.csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [120]:
###Dropping irrelevant features

In [35]:
data_relevant_features = data.drop(['PassengerId','Name', 'Ticket','Cabin'], axis =1 )

In [38]:
data_relevant_features

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    0  22.0      1      0   7.2500        S
1           1       1    1  38.0      1      0  71.2833        C
2           1       3    1  26.0      0      0   7.9250        S
3           1       1    1  35.0      1      0  53.1000        S
4           0       3    0  35.0      0      0   8.0500        S
..        ...     ...  ...   ...    ...    ...      ...      ...
886         0       2    0  27.0      0      0  13.0000        S
887         1       1    1  19.0      0      0  30.0000        S
888         0       3    1   NaN      1      2  23.4500        S
889         1       1    0  26.0      0      0  30.0000        C
890         0       3    0  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [119]:
###Mapping dummies

In [48]:
data_relevant_features['Sex'] = data_relevant_features['Sex'].map({'male':0,'female':1})
data_relevant_features['Embarked'] =data_relevant_features['Embarked'].map({'S':0,'C':1,'Q':2})

In [71]:
data_relevant_features.describe()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,889.000000
mean,0.383838,2.308642,0.352413,29.699118,0.523008,0.381594,32.204208,0.362205
std,0.486592,0.836071,0.477990,14.526497,1.102743,0.806057,49.693429,0.636157
min,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,0.000000,20.125000,0.000000,0.000000,7.910400,0.000000
50%,0.000000,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,0.000000
75%,1.000000,3.000000,1.000000,38.000000,1.000000,0.000000,31.000000,1.000000
max,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200,2.000000

In [123]:
###Filled missing values with mean

In [72]:
data_no_missing_values = data_relevant_features.fillna(data_relevant_features.mean(),inplace = True)

In [84]:
data_mapped = data_relevant_features

In [121]:
###Assigning features and targets

In [122]:
X = data_mapped.iloc[:,1:]
y = data_mapped.iloc[:,0]

TrainTest- Splitting

In [86]:
Xtrain,Xtest,Ytrain,Ytest = train_test_split(X,y, test_size = 0.15, random_state = 52)

Model Selection

In [87]:
model_1 = LogisticRegression()
model_2 = xgb.XGBClassifier()
model_3 = RandomForestClassifier()

In [88]:
final_model = VotingClassifier(estimators = [('lr',model_1), ('xgb',model_2), ('rf',model_3)], voting = 'hard')

In [89]:
final_model.fit(Xtrain,Ytrain)

VotingClassifier(estimators=[('lr', LogisticRegression()),
                             ('xgb',
                              XGBClassifier(base_score=None, booster=None,
                                            callbacks=None,
                                            colsample_bylevel=None,
                                            colsample_bynode=None,
                                            colsample_bytree=None,
                                            early_stopping_rounds=None,
                                            enable_categorical=False,
                                            eval_metric=None,
                                            feature_types=None, gamma=None,
                                            gpu_id=None, grow_policy=None,
                                            importance_type=None,
                                            interaction_constraints=None,
                                            learning_rate=None, max_bin=None,
                                            max_cat_threshold=None,
                                            max_cat_to_onehot=None,
                                            max_delta_step=None, max_depth=None,
                                            max_leaves=None,
                                            min_child_weight=None, missing=nan,
                                            monotone_constraints=None,
                                            n_estimators=100, n_jobs=None,
                                            num_parallel_tree=None,
                                            predictor=None, random_state=None, ...)),
                             ('rf', RandomForestClassifier())])

Prediction

In [124]:
ypred = final_model.predict(Xtrain)

In [99]:
error = mean_squared_error(Ytrain,ypred)
error

0.03038309114927345

In [101]:
f1score = f1_score(Ytrain,ypred)
f1score

0.9601386481802426

In [102]:
ytest_pred = final_model.predict(Xtest)

In [103]:
test_error = mean_squared_error(Ytest,ytest_pred)

In [105]:
test_error

0.17164179104477612

In [108]:
f1score = f1_score(Ytest,ytest_pred)
f1score

0.7472527472527473