In [17]:
import pickle
import pandas as pd
import numpy as np

In [18]:
with open('Housing Analysis.pkl', 'rb') as file:
    model = pickle.load(file)

In [19]:
test = pd.read_csv('test_preprocessed2.csv')
test_original= pd.read_csv('test.csv')

In [20]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1459 non-null   float64
 1   1       1459 non-null   float64
 2   2       1459 non-null   float64
 3   3       1459 non-null   float64
 4   4       1459 non-null   float64
 5   5       1459 non-null   float64
 6   6       1459 non-null   float64
 7   7       1459 non-null   float64
 8   8       1459 non-null   float64
 9   9       1459 non-null   float64
dtypes: float64(10)
memory usage: 114.1 KB

In [21]:
test_predictions = pd.DataFrame()
test_predictions ['Id'] = test_original['Id']

In [22]:

#test_predictions ['Id'] = test_original['Id']
test_predictions['SalePrice'] = model.predict(test)

C:\Users\User\anaconda3\envs\py3_TF2.15\lib\site-packages\sklearn\base.py:457: UserWarning: X has feature names, but RandomForestRegressor was fitted without feature names
  warnings.warn(

In [23]:
test_predictions

        Id  SalePrice
0     1461  135960.86
1     1462  166176.57
2     1463  180554.34
3     1464  186461.60
4     1465  173281.41
...    ...        ...
1454  2915   88601.37
1455  2916   87684.00
1456  2917  189243.82
1457  2918  117451.00
1458  2919  229341.62

[1459 rows x 2 columns]

In [24]:
test.iloc[:,0].dtype

dtype('float64')

In [25]:
test_predictions.to_csv('test_predictions5.csv', index=False)

In [26]:
test_predictions

        Id  SalePrice
0     1461  135960.86
1     1462  166176.57
2     1463  180554.34
3     1464  186461.60
4     1465  173281.41
...    ...        ...
1454  2915   88601.37
1455  2916   87684.00
1456  2917  189243.82
1457  2918  117451.00
1458  2919  229341.62

[1459 rows x 2 columns]